html,
body {
    margin: 0;
    overflow: hidden;
    height: 100%;
  background-color: #F4F4F4;
}


}

/* Scale canvas with resize attribute to full size */
.container {
	position: relative;
}

canvas[resize] {
    width: 100%;
    height: 100%;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}
.centerlogo {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100px;
	margin-top:17%; 
}

#layer_1 {
		display: block;
		width:250%;
		fill: #3d3d3d;
		  pointer-events:all;
}


#layer_1:hover {
		fill:#009BEF;
		pointer-events:all;
		}

a svg #layer_1 {
		fill: blue;
}

.topview {
	z-index: 10000000;
	pointer-events: all;
	fill:green;
}